.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: #8E9095;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 800px;
    height: 500px;
    border-radius: 12px;
    background-color: #36393F;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .modalContainer2 {
    width: 750px;
    height: 500px;
    border-radius: 12px;
    background-color: #2F3136;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .friend-modalContainer {
    width: 500px;
    height: 550px;
    border-radius: 12px;
    background-color: #36393F;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .friend-modalContainer2 {
    width: 450px;
    height: 500px;
    border-radius: 12px;
    background-color: #2F3136;
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }

  .modalContainer .title-friend {
    display: inline-block;
    text-align: left;
    margin-top: 10px;
  }

  .title-border {
    background-color: #36393F;
    border-radius: 12px;
  }

  .body-border {
    background-color: #42464D;
    border-radius: 12px;
  }

  .body-border-friend {
    width: 80%;
    background-color: #42464D;
    border-radius: 12px;
    max-height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .body-border-friend .gameRow {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
  }

  .body-border-friend .gameRow:hover {
    cursor: default;
    background-color:#36393F;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }

  .img-modal {
    height: 65px;
  }

  .friend-name {
    font-size: 25px;
  }

  .user-name {
    font-size: 25px;
  }

  .game-name {
    font-size: 25px;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }

  .friend-modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    max-height: 60%;
  }
  
  .friend-modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .friend-modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: #26DB3B;
  }