.static-navbar img {
  max-height: 80px;
}

#loginBox .container-fluid {
  width: 520px;
}

#loginBox .container-fluid {
  background-color: var(#936199);
  border-radius: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.static-body {
  --squadup-purple: #521658;
  --squadup-lightpurple: #936199;
  --squadup-discpurple: #76608A;
}

.static-html, .static-body {
  background-color: var(--squadup-purple);
  min-height: 100vh;
  max-height: 100%;
}

#loginPane .container-fluid {
  background-color: var(--squadup-lightpurple);
  border-radius: 20px;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  #loginPane .container-fluid {
    width: 650px;
  }
}

.static-container-fluid {
  background-color: var(--squadup-lightpurple);
  border-radius: 20px;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container-fluid {
    width: 520px;
  }
}

#loginPane {
  color: white;
}

.btn {
  background-color: var(--squadup-discpurple);
}

